.LoginBtn {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-logo {
        width: 270px;
        height: 226px;

        margin: 10px 10px;

        //transform: scale(0.5);
    }

    &-button {
        padding: 10px 25px;
        font-size: 20px;
        border-radius: 10px;

        background-color: gray;
        user-select: none;

        &:hover {
            background-color: darkgray;
        }

        &:active {
            background-color: white;
        }
    }
}