.Window {
    height: max-content;
    width: max-content;
    
    border: #00000022;
    border-width: 3px;
    border-style: solid;

    &-title {
        user-select: none;
        width: 100%;
        height: 25px;

        display: flex;
        align-items: center;

        background: linear-gradient(270deg, #7e88ac, #50535e);

        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 16px;

        color: #000000cc;

        span {
            margin-bottom: 2px;
        }

    }

    &-focused {
        position: absolute;
        z-index: 99999;
        border: #00005599;
        border-width: 3px;
        border-style: solid;
    }
}