.Terminal{
    width: 640px;
    height: 380px;

    color: #ffffffcc;
    background-color: black;

    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;

    outline: none;

    position: relative;
    white-space: pre;

    .commandResult {
        color: #ffffff99;
    }

    .commandError {
        color: #ff9292;
    }

    .notSelectable {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently */
    }

    .userName {
        color: yellow;
    }
}